* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
@font-face {
  font-family: "Flyer Shadow";
  src: url("Flyer Shadow.ttf");
}
@font-face {
  font-family: "Comic Cat";
  src: url("Comic Cat.otf");
}

body {
  background-color: #65a5d1;
}
.container__header {
  height: 100px;
  margin: 10px 40px;
  background-color: #274f7d;

  display: flex;
  justify-content: space-evenly;

  padding: 0 100px;
  border-radius: 10px;
}

.logo {
  padding: 5px;
}
.text {
  color: #fff;
  font-size: 55px;
  padding-top: 20px;
  font-family: "Flyer Shadow";
}
.main {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
}

.left {
  flex-basis: 35%;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  font-size: 36px;
  background-color: #274f7d;
  font-family: "Comic Cat";
}

.rigth {
  border: 3px solid #274f7d;
  flex-basis: 55%;
  border-radius: 20px;
}

#city,
#lastSymbol {
  color: deepskyblue;
}

.rigth {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#input {
  max-width: 100%;
  width: 70%;
  flex-basis: 20%;
  text-align: center;
  font-size: 55px;

  border-radius: 10px;
}
.container__game {
  display: flex;

  width: 95%;
  flex-basis: 70%;
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.name__player1,
.name__player2 {
  flex-basis: 10%;
  text-align: center;
  font-size: 30px;
  font-family: "Comic Cat";
  background-color: #274f7d;
  border-radius: 10px;
}

.cities__player1,
.cities__player2 {
  display: flex;
  flex-basis: 90%;
  margin-left: 10px;
}
.cities__player1 {
  border-right: 1px solid #274f7d;
}

li,
input {
  font-family: "Comic Cat";
}
